.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #fafafa;
  width: 400px;
}
.formText {
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border-style: solid;
  width: 90%;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}
.formHeader {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: orange;
}
.formButton {
  color: white;
}
.errorMessage {
  color: orange;
  margin-bottom: 10px;
}
